@import 'tailwindcss';

/* Custom Animations */
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animate-slide-up-modal {
    animation: slideInUp 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes slideInUpPage {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up-page {
    animation: slideInUpPage 0.7s ease-out forwards;
}